.summaryList {
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 15px;
    list-style-position: outside;
}

.summaryListItem {
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 0;
    margin-left: 0;
}

.summaryListItemIndent {
    margin-left: 10px;
}

.summaryListItemSubHeader {
    margin-left: -15px;
}

.summaryListWithSectionHeader {
    padding-left: 0;
}

.summarizedSegment {
    display: inline;
    cursor: pointer;
    line-height: normal;
    font-weight: 400;
}

.extractedHealthDataWord {
    display: inline;
}
